<div class="row">
	<table class="table table-striped table-hover">
		<caption></caption>
		<thead>
			<tr>
				<th>#</th>
				<th>Last Name</th>
				<th>First Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="person in people">
				<td><a href="#/{{person.id}}">{{person.id}}</a></td>
				<td><a href="#/{{person.id}}">{{person.firstname}}</a></td>
				<td><a href="#/{{person.id}}">{{person.lastname}}</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<form>
		<div class="form-group">
			<label>First Name</label>
			<input type="text" name="firstName" ng-model="newPerson.firstname" class="form-control">
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" name="lastName" ng-model="newPerson.lastname" class="form-control">
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea name="description" ng-model="newPerson.description" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<input type="button" value="Create" ng-click="save()" >
		</div>
	</form>
</div>